<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @aluno.nome %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @aluno.matricula %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @aluno.cpf %>
</p>

<p>
  <strong>Datanascimento:</strong>
  <%= @aluno.datanascimento %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @aluno.endereco %>
</p>

<%= link_to 'Edit', edit_aluno_path(@aluno) %> |
<%= link_to 'Back', alunos_path %>
