<p id="notice"><%= notice %></p>

<h1>Emprestimos</h1>

<table>
  <thead>
    <tr>
      <th>Aluno</th>
      <th>Livro</th>
      <th>Data de Emprestimo</th>
      <th>Data de Devolucao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emprestimos.each do |emprestimo| %>
      <tr>
        <td><%= emprestimo.aluno.nome %></td>
        <td><%= emprestimo.livro.titulo %></td>
        <td><%= emprestimo.dataemprestimo %></td>
        <% if emprestimo.datadevolucao.blank? %>
        <td><%= "Não Devolvido" %></td>
        <% else %>
        <td><%= emprestimo.datadevolucao %></td>
        <% end %>
        <td><%= link_to 'Show', emprestimo %></td>
        <td><%= link_to 'Edit', edit_emprestimo_path(emprestimo) %></td>
        <td><%= link_to 'Devolução', devolucao_url(emprestimo.id) %></td>
        <td><%= link_to 'Destroy', emprestimo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Ativos', ativos_path%>
<%= link_to 'Atrasados', atrasados_path%>

<%= link_to 'New Emprestimo', new_emprestimo_path %>
