<!DOCTYPE html>
<html>
  <head>
    <title>GABI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in?%>
   <aside class="menu">
        <%= link_to "GABI", root_path, class: "menu-brand link"%>
        <div class="menu-label">Açoes</div>
        <ul class="menu-list">
    <li>
        <%= link_to "Listar Livros", livros_path %></li>
    <li>
        <%= link_to "Listar Emprestimos", emprestimos_path %>
    </li>
        
        <div class="menu-label">Usuário - <small><%= current_user.matricula%></small> <% if current_user.admin?%> <small class="tag is-1">Admin</small> <%end%> </div>
        <li><%= link_to "Realizar Empréstimo", new_emprestimo_path %></li>
        
        <% if current_user.admin?%>
        <div class="menu-label">Administração</div>
        <li><%= link_to "Adicionar Livro ao Banco", new_livro_path %></li>
        <%end%>
        
        <div class="menu-lastitem">
            <%= link_to  "Sair", destroy_user_session_path, method: :delete %>
        </div>
        </ul>

        </aside>
    
  </nav>
    <section class="section main">
      <%= yield %>
    </section>
  <% else%>

  <section class="section login">
      <%= yield %>
  </section>
  
  <% end%>  
  </body>
</html>
